<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base_layouts :: head">
    <meta charset="utf-8" />
    <title>Insert title here</title>
</head>
<body>
<nav th:replace="layouts/base_layouts :: nav"></nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
            <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
            <div class="card">
                <div class="card-header text-center"> <strong>Agregar Clientes</strong></div>
                <div class="card_body">
                    <form th:action="@{/personas/clientes/grabarClientes}" th:object="${formClientes}" method="post">

                        <div class="form-group px-2 py-2" th:classappend="${#fields.hasErrors('cliente_nm')} ? 'has-error'">
                            <label>Nombre del Cliente </label>
                            <input type="text" class="form-control font-italic" th:field="*{cliente_nm}"
                                   th:errorclass="'form-control alert-danger'" placeholder="Nombre del Cliente" />
                            <small class="form-text text-danger offset-3" th:if="${#fields.hasErrors('cliente_nm')}" th:errors="*{cliente_nm}"></small>
                        </div>

                        <div class="form-group px-2 py-2" th:classappend="${#fields.hasErrors('cliente_app')} ? 'has-error'">
                            <label>Apellido Paterno del Cliente </label>
                            <input type="text" class="form-control font-italic" th:field="*{cliente_app}"
                                   th:errorclass="'form-control alert-danger'" placeholder="Apellido Paterno del Cliente" />
                            <small class="form-text text-danger offset-3" th:if="${#fields.hasErrors('cliente_app')}" th:errors="*{cliente_app}"></small>
                        </div>

                        <div class="form-group px-2 py-2" th:classappend="${#fields.hasErrors('cliente_apm')} ? 'has-error'">
                            <label>Apellido Materno del Cliente </label>
                            <input type="text" class="form-control font-italic" th:field="*{cliente_apm}"
                                th:errorclass="'form-control alert-danger'" placeholder="Apellido Materno del Cliente" />
                            <small class="form-text text-danger offset-3" th:if="${#fields.hasErrors('cliente_apm')}"
                                th:errors="*{cliente_apm}"></small>
                        </div>

                        <div class="form-group px-2 py-2" th:classappend="${#fields.hasErrors('direccion_desc')} ? 'has-error'">
                            <label>Dirección del Cliente </label>
                            <input type="text" class="form-control font-italic" th:field="*{direccion_desc}"
                                   th:errorclass="'form-control alert-danger'" placeholder="Dirección del Cliente" />
                            <small class="form-text text-danger offset-3" th:if="${#fields.hasErrors('direccion_desc')}" th:errors="*{direccion_desc}"></small>
                        </div>

                        <div class="form-group px-2 py-2" th:classappend="${#fields.hasErrors('telefono_desc')} ? 'has-error'">
                            <label>Teléfonos del Cliente </label>
                            <input type="text" class="form-control font-italic" th:field="*{telefono_desc}"
                                   th:errorclass="'form-control alert-danger'" placeholder="Teléfono del Cliente" />
                            <small class="form-text text-danger offset-3" th:if="${#fields.hasErrors('telefono_desc')}" th:errors="*{telefono_desc}"></small>
                        </div>

                        <div class="form-group px-2 py-2" th:classappend="${#fields.hasErrors('fch_nacimiento')} ? 'has-error'">
                            <label>Fecha de Nacimiento del Cliente </label>
                            <input type="date" class="form-control font-italic" th:field="*{fch_nacimiento}"
                                th:errorclass="'form-control alert-danger'" placeholder="Fecha de Nacimiento del Cliente" />
                            <small class="form-text text-danger offset-3" th:if="${#fields.hasErrors('fch_nacimiento')}"
                                th:errors="*{fch_nacimiento}"></small>
                        </div>

                        <div class="form-group px-2 py-2" th:classappend="${#fields.hasErrors('estadoCivil')} ? 'has-error'">
                            <label>Estado Civil: </label>
                            <select class="browser-default customer-select col-md-5" th:field="*{estadoCivil}">
                                <option value="">Seleccione un estado civil</option>
                                <option th:each="select_item: ${formEstadoCivil}"
                                        th:value = "${select_item.ecivil_id}"
                                        th:text = "${select_item.ecivil_desc}"></option>
                            </select>
                            <small class="form-text text-danger offset-3" th:if="${#fields.hasErrors('estadoCivil')}"
                                   th:errors="*{estadoCivil}"></small>
                        </div>

                        <div class="form-group px-2 py-2" th:classappend="${#fields.hasErrors('cliente_email')} ? 'has-error'">
                            <label>Email del Cliente </label>
                            <input type="email" class="form-control font-italic" th:field="*{cliente_email}"
                                th:errorclass="'form-control alert-danger'" placeholder="Email del Cliente" />
                            <small class="form-text text-danger offset-3" th:if="${#fields.hasErrors('cliente_email')}"
                                th:errors="*{cliente_email}"></small>
                        </div>

                        <div class="form-group px-2 py-2" th:classappend="${#fields.hasErrors('estado_fl')} ? 'has-error'">
                            <label>Estado: </label>
                            <select name="estados" th:field="*{estado_fl}">
                                <option th:each="estado : ${T(com.tito.apptito.entities.enums.Estados).values()}"
                                        th:value="${estado}" th:text="${estado}"></option>
                            </select>
                            <small class="form-text text-danger offset-3" th:if="${#fields.hasErrors('estado_fl')}" th:errors="*{estado_fl}"></small>
                        </div>

                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-secondary col-md-5 my-2 ">
                                <i class="fas fa-save"><strong>Grabar</strong></i>
                            </button>
                        </div>
                        <input type="hidden" th:field="*{id}" /> 	<!-- Se hace de esta manera para modificar un registro, sino, crea o inserta uno nuevo -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/js/app.js" th:src="@{/js/app.js}"></script>
<footer th:replace="layouts/base_layouts :: footer"></footer>
<!-- autofocus -->
</body>
</html>
