<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base_layouts::head">
    <meta charset="utf-8"/>
    <title>Insert title here</title>

</head>
<body>
<nav th:replace="layouts/base_layouts::nav"></nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="text-center mb-3">Listado de Clientes</h3>
            <div class="row justify-content-center mt-4 mb-4">
                <a th:href="@{/personas/clientes/formClientes}"><button class="btn btn-success p-1 pl-3 pr-3">Agregar Clientes</button></a>
            </div>
            <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
            <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
            <table class="table table-bordered table striped table-hover text-center">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Estado Civil</th>
                    <th>Email</th>
                    <th>Estado</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${listaclientes}">
                    <td th:text="${item.cliente_nm}"></td>
                    <td th:text="${item.cliente_app}"></td>
                    <td th:text="${item.cliente_apm}"></td>
                    <td th:text="${item.direccion_desc}"></td>
                    <td th:text="${item.telefono_desc}"></td>
                    <td th:text="${item.fch_nacimiento}"></td>
                    <td th:text="${item.cliente_email}"></td>
                    <td th:text="${item.estadoCivil.ecivil_desc}"></td>
                    <td th:text="${item.estado_fl}"></td>
                    <td><a th:href="@{/personas/clientes/delete_cliente/}+${item.id}" onclick="return confirm('Seguro de eliminar?')"><button class="btn btn-danger" >Eliminar</button></a>
                    <td><a th:href="@{/personas/clientes/update_cliente/}+${item.id}" onclick="return confirm('Seguro de modificar?')"><button class="btn btn-warning" >Modificar</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="layouts/base_layouts::footer"></footer>
</body>
</html>